mixin post(info)
    div 
        h4
            a(href=`/posts/${info.id}`)=info.title
        li #{info.meta.rating} 点
        li #{info.meta.views} views
        small=info.createdAt
        hr



