.edit-profile__form {
  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}

.profile__data {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  h3 {
    margin-top: 8px;
  }
}
