extends base.pug
include mixins/post.pug


block content
    div.post-grid
        each uploaded in posts
            +post(uploaded)
        else    
            span.empty__message Nothing Found!
    

