extends base.pug

block content
    div 
        h3=board.title
        li #{board.comments}개의 댓글
        li 조회수 #{board.hitcounts}
    div 
        a(href=`${board.id}/edit`) Edit Board &rarr;
        
    

