extends base.pug

block content
    div 
        h3
            a(href=`/posts/${post.id}`)=post.title
        li #{post.comments} コメント
        li 再生数 #{post.hitcounts}
    div 
        a(href=`${post.id}/edit`) Edit Post &rarr;
        
    

