extends ../base.pug
include ../mixins/post.pug


block content 
    div.post-grid
        each post in user.posts
            +post(post)
        else
            span.empty__message Nothing Found!


